{% extends "propose_join/base.html" %}

{% block title %}
    Events
{% endblock %}

{% block body %}
<div class = 'content-section' >
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Event name</th>
          <th scope="col">Club</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">venue</th>
        </tr>
      </thead>
      <tbody>
      {% for event in events %}
      {% if event.in_club in clubs.all %}
        <tr>
          <td><a href="{% url 'event_detail1' event.id %}">{{ event.event_name }}</a></td>
          <td>{{ event.in_club.club_name }}</td>
          <td>{{ event.event_from }}</td>
          <td>{{ event.event_to }}</td>
          <td>{{ event.venue|urlize }}</td>
        </tr>
      {% endif %}  
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
