{% extends "registration/base1.html" %}
{% block title %}
    Send
{% endblock %}

{% block register %}
<div class = 'content-section' >
    <form method="POST">
        {% csrf_token %}

        <fieldset class='form-group' >
            <legend class='border-bottom mb-4'>Type message</legend>
            <input type="text" name="notf" value=""><br>
            {% for user in users %}
              <input type="checkbox" name="selected_users" value="{{ user }}">{{ user }}<br>
            {% endfor %}
        </fieldset>
        <div class='form-group'>
            <button class= 'btn btn-outline-info' type='submit'> Send</button>
        </div>
    </form>
</div>

{% endblock %}
